/********************Navbar *************************/
.logo{
  width: 12rem;
}
/*  ****************************MENU **************************** */
nav a.nav-link{
  letter-spacing: 0.0375rem;
  cursor: pointer;
}

nav ul li{
  text-transform: uppercase;
}
.nav-item a{
  color: wheat !important;
}